* {
  background-color:rgb(54, 67, 80);
}

h1,
h2,
h3 {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:gold;
}

h1 {
  font-size: 56px;
  text-align: center;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 22px;
}

a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: gold;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #fcf5d7;
}

ol,
ul {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 135%;
  color: #fcf5d7;
}

.recipelist {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.recipelist a {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 24px;
  line-height: 135%;
  color: gold;
  font-weight: bold;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 700px;
}

img.bread {
  width: 450px;
}